body, html {
  margin: 0;
  height: 100%;
}

.car-section {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin: 3rem 0;
  background-color: transparent; 
  z-index: 1;
}

#imgs {
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 25%;
  transition: transform 0.05s ease-out;
  z-index: 2; 
}

#imgs > div {
  max-width: 50%; 
  perspective: 500px;
  z-index: 3; 
  position: relative; 
  background-color: transparent;
}

#imgs img {
  display: block;
  max-width: 100%;
  height: 600px;
  position: relative; 
  z-index: 4;
  top: 100px
} 